@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: #663399;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-slate-950
}

h1,
.h1 {
  font-size: clamp(2.4rem, 6vw, 4rem);
  @apply uppercase font-bold tracking-wide
}

h2,
.h2 {
  font-size: clamp(2rem, 6vw, 3.75rem);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .content-container {
    @apply max-w-[1440px] px-6 mx-auto w-full
  }

  .dynamic-offset {
    @apply pt-28 px-5 md:ml-40 md:pt-10 md:w-1/2 
  }
  
}

